.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke
}

input {
    display: none;
}

.drag-drop-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 3px dashed lightgray;
    border-radius: 10px;

    color: lightgray;
}

.active {
    border: 3px solid #05a9ff;
    color: #ffff;
    background-color: #05a9ff;
    opacity: 0.3;
}